<div class="container mx-auto p-6">
  @if (event) {
    <div class="flex flex-col md:flex-row gap-8">
      <!-- Imagen del evento -->
      <div class="w-full md:w-1/2">
        <img [src]="event.posterUrl" [alt]="event.title" class="w-full h-auto rounded-lg shadow-lg">
      </div>

      <!-- Información del evento -->
      <div class="w-full md:w-1/2">
        <h2 class="text-4xl font-bold text-[#F22E52] mb-6">{{ event.title }}</h2>
        <p class="text-xl text-gray-700 mb-4"><strong>Lugar:</strong> {{ event.theater }}</p>
        <p class="text-xl text-gray-700 mb-4"><strong>Fecha:</strong> {{ event.date | date:'medium' }}</p>
        <p class="text-xl text-gray-700 mb-4"><strong>Ciudad:</strong> {{ event.city }}, {{ event.state }}, {{ event.country }}</p>
        <p class="text-xl text-gray-700 mb-6"><strong>Descripción:</strong> {{ event.description }}</p>

        <!-- Mapa de OpenStreetMap -->
        <div class="mt-6">
          <h3 class="text-2xl font-semibold mb-4">Ubicación del teatro</h3>
          <div id="map" class="w-full h-96 rounded-lg shadow-lg"></div> <!-- Contenedor del mapa -->
        </div>

        <!-- Botón de comprar boletos -->
        <div class="mt-6">
          <button (click)="goToBuyTickets()" class="block w-full text-center bg-gradient-to-r from-[#F22E52] via-[#F24C27] to-[#F2780C] text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition-colors">
            Comprar boletos
          </button>
        </div>
      </div>
    </div>
  } @else if (errorMessage) {
    <div class="text-center py-8">
      <p class="text-red-500 font-semibold text-xl">{{ errorMessage }}</p>
    </div>
  } @else {
    <div class="text-center py-8">
      <p class="text-gray-700 text-xl">Cargando información del evento...</p>
    </div>
  }
</div>
