<header class="bg-gradient-to-r from-[#F22E52] via-[#F24C27] to-[#F2780C] w-full h-24 p-4">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Nombre de la aplicación (izquierda) -->
        <h1 class="italic font-semibold text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl">
          <a [routerLink]="['/content']" class="cursor-pointer flex items-center space-x-2">
            <img class="h-20 w-auto" src="logo.svg" alt="logo">
            <span>TicketMeister</span>
          </a>
        </h1>

        <!-- Botones de navegación (derecha) -->
        <nav class="hidden sm:block">
            <ul class="flex space-x-4">
                <li>
                    <a [routerLink]="['/login']" class="text-white font-semibold text-lg hover:text-blue-200 transition-colors">
                        Iniciar sesión
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/register']" class="text-white font-semibold text-lg hover:text-blue-200 transition-colors">
                        Registrarse
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Menú hamburguesa para móviles -->
        <button class="sm:hidden text-white focus:outline-none" (click)="toggleMenu()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <!-- Menú desplegable para móviles -->
    @if (isMenuOpen) {
        <nav class="sm:hidden absolute right-0 mt-2 w-48 bg-blue-500 rounded-lg shadow-lg z-10">
            <ul class="flex flex-col space-y-2 p-4">
                <li>
                    <a [routerLink]="['/login']" class="text-white font-semibold text-lg hover:text-blue-200 transition-colors">
                        Iniciar sesión
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/register']" class="text-white font-semibold text-lg hover:text-blue-200 transition-colors">
                        Registrarse
                    </a>
                </li>
            </ul>
        </nav>
    }
</header>
